body {
  color: black;
}

.container-employees {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.employee {
  margin: 5px;
  width: 30%;
  border: 1px solid green;
}

.active,
.employee:hover {
  background-color: #ccc;
}

.employee-expanded {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.notification {
  display: none;
  color: red;
  padding: 10px;
  align-self: right;
  margin: 0 auto;
  width: 90%;
  height: 25px;
  border: 1px solid green;
}

.display-flex {
  display: flex;
}
